<nav>
    <a class="user" href="/home">
        <img src="../assets/images/logo.png" alt="">
        <h1>CRYPTO</h1>
    </a>

    <ul>
        <a href="/home">
            <li>
                <img src="../assets/icons/person-circle-outline.svg" alt="">
                <p>Inicio</p>
            </li>
        </a>

        <a href="/encrypt">
            <li>
                <img src="../assets/icons/lock-closed.svg" alt="">
                <p>Encriptar</p>
            </li>
        </a>

        <a href="/decrypt">
            <li>
                <img src="../assets/icons/lock-open.svg" alt="">
                <p>Desencriptar</p>
            </li>
        </a>

        <a href="/generate">
            <li>
                <img src="../assets/icons/key.svg" alt="">
                <p>Generar Llavero</p>
            </li>
        </a>
    </ul>

        <a class="session" id="session" href="/">
            <button>Cerrar Sesion</button>
        </a>
</nav>