<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <title>Desencriptar</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/userForms.css">
    <script async src="/scripts/js/forms.js" async></script>

</head>

<body>
    <%- include('../partials/navigation'); %>

    <main>
        <h1>Desencriptar Archivo</h1>

        <section class="form">
            <form class="form_grid" action="">
                <div>
                    <h3>Selecione su Llave Privada</h3>

                    <label class="filesCard info" for="key_file">
                        <img src="/assets/icons/key.svg" alt="">
                        <h4 id='key_name'>Seleccione Archivo</h4>
                        <span id="key_size"></span>
                    </label>

                    <input class='hidden' id="key_file" type="file" name="key_file" multiple>
                </div>

                <div>
                    <h3>Selecione el Archivo para Desencriptar</h3>
    
                    <label class="filesCard info" for="user_file">
                        <img src="/assets/icons/document-text-sharp.svg" alt="">
                        <h4 id='user_file_name'>Seleccione Archivo</h4>
                        <span id="user_file_size"></span>
                    </label>
    
                    <input class='hidden' id="user_file" type="file" name="user_file" multiple>
                </div>
    
                <input class="button form-button" type="submit" value="Desencriptar">
            </form>
        </section>

    </main>
</body>
</html>