<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <title>Encriptar</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/userForms.css">
    <script async src="/scripts/js/forms.js" async></script>

</head>

<body>
    <%- include('../partials/navigation'); %>

    <main>
        <h1>Encriptar Archivo</h1>

        <section class="form">
            <form class="form_grid" action="" method="POST" enctype="multipart/form-data">
                <div>
                    <h3>Seleccione Llave Publica</h3>

                    <label class="filesCard" for="key_file">
                        <div class="info">
                            <img src="/assets/icons/key.svg" alt="">
                            <h4 id='key_name'>Seleccione Archivo</h4>
                            <span id="key_size"></span>
                        </div>
                    </label>

                    <input class='hidden' id="key_file" type="file" name="key_file" accept=".pem">
                </div>

                <div>
                    <h3>Archivo para Encriptar</h3>
    
                    <label class="filesCard" for="user_file">
                        <div class="info">
                            <img src="/assets/icons/document-text-sharp.svg" alt="">
                            <h4 id='user_file_name'>Seleccione Archivo</h4>
                            <span id="user_file_size"></span>
                        </div>
                    </label>
    
                    <input class='hidden' id="user_file" type="file" name="user_file">
                </div>
    
                <input class="button form-button" type="submit" value="Encriptar">
            </form>
        </section>

    </main>
</body>

</html>