<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <title>Generar Llaves</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/userForms.css">
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <%- include('../partials/navigation'); %>

    <main>
        <h1>Generar Llaves Publicas y Privadas</h1>

        <section class="form key">
            <form class="form_grid key_form" action="" method="POST">

                <div class="key_name_input">
                    <label for="key_name">Nombre de sus Llaves</label>
                    <input class="input key_name" type="text" name="key_name"  autofocus required>
                </div>

                <p>
                    <b>Llave Privada: PARA DESENCRIPTAR</b> 
                    estas NO debe ser utilizada por 
                    uicamente por <b>PERSONAL AUTORIZADO</b>,
                    deberan ser guardadas en un lugar seguro
                </p>

                <p>
                    <b>Llave Publica: PARA ENCRIPTAR</b> estas 
                    son para <b>USO COMPARTIDO</b> y ser enviadas a la
                    persona con la que deseada intercambiar archivos
                </p>
                
                <input class="button form-button" type="submit" value="Generar Llavero">
            </form>
        </section>
    </main>
</body>

</html>