<html lang="en">

<head>
    <%- include('../../partials/head'); %>
    <title>Decencriptar</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <%- include('../../partials/navigation'); %>

    <main></main>

    <%- include('../../partials/footer'); %>
</body>

</html>