<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <title>Inicio</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <%- include('../partials/navigation'); %>

    <main>
        <h1>Inicio</h1>
        <div id="ejs">
        </div>
        <section class="ctaGrid">
            <a href="/encrypt" class="ctaCard">
                <img src="../assets/icons/lock-closed.svg" alt="">
                <h2>ENCRIPTAR</h2>
            </a>

            <a href="/decrypt" class="ctaCard">
                <img src="../assets/icons/lock-open.svg" alt="">
                <h2>DESENCRIPTAR</h2>
            </a>
        </section>
    </main>
</body>
</html>